server:
  port: 8080

spring:
  application:
    name: cinema-management-system

  datasource:
    url: jdbc:postgresql://cinema_db:5432/cinema
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
