server:
  port: 8080

spring:
  application:
    name: cinema-management-system

  datasource:
    url: jdbc:postgresql://db:5432/cinema
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/cinema
          jwk-set-uri: http://cinema_keycloak:8080/realms/cinema/protocol/openid-connect/certs

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

    org.springframework.security: TRACE
    org.springframework.security.oauth2: TRACE